@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_700regular';
  src: url("../font/museosans_700-webfont.eot");
  src: url("../font/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_700-webfont.woff") format("woff"), url("../font/museosans_700-webfont.ttf") format("truetype"), url("../font/museosans_700-webfont.svg#museo_sans_500regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_500regular';
  src: url("../font/museosans_500-webfont.eot");
  src: url("../font/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_500-webfont.woff") format("woff"), url("../font/museosans_500-webfont.ttf") format("truetype"), url("../font/museosans_500-webfont.svg#museo_sans_500regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_900regular';
  src: url("../font/museosans_900-webfont.eot");
  src: url("../font/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_900-webfont.woff") format("woff"), url("../font/museosans_900-webfont.ttf") format("truetype"), url("../font/museosans_900-webfont.svg#museo_sans_900regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_300regular';
  src: url("../font/museosans-300-webfont.eot");
  src: url("../font/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans-300-webfont.woff") format("woff"), url("../font/museosans-300-webfont.ttf") format("truetype"), url("../font/museosans-300-webfont.svg#museo_sans_300regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_100regular';
  src: url("../font/museosans-100-webfont.eot");
  src: url("../font/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans-100-webfont.woff") format("woff"), url("../font/museosans-100-webfont.ttf") format("truetype"), url("../font/museosans-100-webfont.svg#museo_sans_100regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 114, ../sass/style.css.scss */
body {
  font: 100% "museo_sans_500regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  padding-top: 75px;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 24px;
}

/* line 130, ../sass/style.css.scss */
.no-bg {
  background: transparent !important;
}

/* line 134, ../sass/style.css.scss */
.white-bg {
  background: white;
}

/* line 143, ../sass/style.css.scss */
a {
  color: #2592c8;
}
/* line 145, ../sass/style.css.scss */
a:hover {
  color: #19668c !important;
  text-decoration: none;
}

/* line 154, ../sass/style.css.scss */
.primary-text-color {
  color: #ee7739;
}

/* line 158, ../sass/style.css.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 161, ../sass/style.css.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 24px;
  color: #3b3b3b;
}

/* line 167, ../sass/style.css.scss */
h1, h2, h3, h4 {
  font-family: "museo_sans_500regular", Helvetica, Arial, sans-serif;
}

/* line 170, ../sass/style.css.scss */
h5, h6 {
  font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif;
}

/* line 174, ../sass/style.css.scss */
p {
  font-size: 1em;
  line-height: 24px;
}

/* line 175, ../sass/style.css.scss */
h1 {
  font-size: 2.8em;
  line-height: 48px;
}

/* line 176, ../sass/style.css.scss */
h2 {
  font-size: 2em;
  line-height: 36px;
}

/* line 177, ../sass/style.css.scss */
h3 {
  font-size: 1.8em;
  line-height: 36px;
}

/* line 178, ../sass/style.css.scss */
h4 {
  font-size: 1.4em;
  line-height: 24px;
}

/* line 179, ../sass/style.css.scss */
h5 {
  font-size: 1em;
  line-height: 24px;
}

/* line 180, ../sass/style.css.scss */
h6 {
  font-size: 0.9em;
  line-height: 24px;
}

/* line 182, ../sass/style.css.scss */
h2, h3 {
  color: #ee7739;
}

/* line 186, ../sass/style.css.scss */
h4 {
  color: #777777;
}

/* line 192, ../sass/style.css.scss */
.text-columns-2 {
  -webkit-columns: 24px 2;
  -moz-columns: 24px 2;
  columns: 24px 2;
}

/* line 195, ../sass/style.css.scss */
.text-columns-3 {
  -webkit-columns: 24px 3;
  -moz-columns: 24px 3;
  columns: 24px 3;
}

/* line 198, ../sass/style.css.scss */
.text-columns-4 {
  -webkit-columns: 24px 4;
  -moz-columns: 24px 4;
  columns: 24px 4;
}

/* line 202, ../sass/style.css.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 209, ../sass/style.css.scss */
.bold-font-name {
  font-family: "museo_sans_700regular", Helvetica, Arial, sans-serif;
}

/* line 212, ../sass/style.css.scss */
.extra-bold-font-name {
  font-family: "museo_sans_700regular", Helvetica, Arial, sans-serif;
}

/* line 215, ../sass/style.css.scss */
.regular-font-name {
  font-family: "museo_sans_500regular", Helvetica, Arial, sans-serif;
}

/* line 218, ../sass/style.css.scss */
.paragraph-font-name {
  font-family: "museo_sans_300regular", Helvetica, Arial, sans-serif;
}

/* line 221, ../sass/style.css.scss */
.social-font-name {
  font-family: "socialicoregular";
}

/* line 227, ../sass/style.css.scss */
.relative {
  position: relative;
}

/* line 231, ../sass/style.css.scss */
.hidden {
  display: none;
}

/* line 235, ../sass/style.css.scss */
.base-line-height {
  line-height: 24px;
}

/* line 239, ../sass/style.css.scss */
.left {
  float: left;
}

/* line 242, ../sass/style.css.scss */
.right {
  float: right;
}

/* line 246, ../sass/style.css.scss */
.full-width {
  width: 100%;
}

/* line 250, ../sass/style.css.scss */
img.full-width {
  height: auto;
}

/* line 255, ../sass/style.css.scss */
.display-block {
  display: block;
}

/* line 259, ../sass/style.css.scss */
.inline-block {
  display: inline-block;
}

/* line 263, ../sass/style.css.scss */
.inline {
  display: inline;
}

/* line 267, ../sass/style.css.scss */
ul.inline {
  list-style: none;
  margin-left: 0;
}
/* line 270, ../sass/style.css.scss */
ul.inline li {
  display: inline-block;
  padding: 0 5px;
}

/* line 277, ../sass/style.css.scss */
.margin-auto {
  margin: 0 auto;
}

/* line 280, ../sass/style.css.scss */
.margin {
  margin: 24px !important;
}

/* line 283, ../sass/style.css.scss */
.margin-top {
  margin-top: 24px !important;
}

/* line 286, ../sass/style.css.scss */
.margin-right {
  margin-right: 24px !important;
}

/* line 289, ../sass/style.css.scss */
.margin-bottom {
  margin-bottom: 24px !important;
}

/* line 292, ../sass/style.css.scss */
.margin-left {
  margin-left: 24px !important;
}

/* line 295, ../sass/style.css.scss */
.double-margin-top {
  margin-top: 48px !important;
}

/* line 298, ../sass/style.css.scss */
.double-margin-right {
  margin-right: 48px !important;
}

/* line 301, ../sass/style.css.scss */
.double-margin-bottom {
  margin-bottom: 48px !important;
}

/* line 304, ../sass/style.css.scss */
.double-margin-left {
  margin-left: 48px !important;
}

/* line 307, ../sass/style.css.scss */
.triple-margin-top {
  margin-top: 72px !important;
}

/* line 310, ../sass/style.css.scss */
.triple-margin-right {
  margin-right: 72px !important;
}

/* line 313, ../sass/style.css.scss */
.triple-margin-bottom {
  margin-bottom: 72px !important;
}

/* line 316, ../sass/style.css.scss */
.triple-margin-left {
  margin-left: 72px !important;
}

/* line 319, ../sass/style.css.scss */
.half-margin-top {
  margin-top: 12px !important;
}

/* line 322, ../sass/style.css.scss */
.half-margin-right {
  margin-right: 12px !important;
}

/* line 325, ../sass/style.css.scss */
.half-margin-bottom {
  margin-bottom: 12px !important;
}

/* line 328, ../sass/style.css.scss */
.half-margin-left {
  margin-left: 12px !important;
}

/* line 331, ../sass/style.css.scss */
.quarter-margin-top {
  margin-top: 6px !important;
}

/* line 334, ../sass/style.css.scss */
.quarter-margin-right {
  margin-right: 6px !important;
}

/* line 337, ../sass/style.css.scss */
.quarter-margin-bottom {
  margin-bottom: 6px !important;
}

/* line 340, ../sass/style.css.scss */
.quarter-margin-left {
  margin-left: 6px !important;
}

/* line 343, ../sass/style.css.scss */
.no-margin {
  margin: 0px !important;
}

/* line 346, ../sass/style.css.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/* line 349, ../sass/style.css.scss */
.no-margin-right {
  margin-right: 0px !important;
}

/* line 352, ../sass/style.css.scss */
.no-margin-bottom {
  margin-bottom: 0px !important;
}

/* line 355, ../sass/style.css.scss */
.no-margin-left {
  margin-left: 0px !important;
}

/* line 358, ../sass/style.css.scss */
.large-margin-top {
  margin-top: 72px !important;
}

/* line 363, ../sass/style.css.scss */
.padded {
  padding: 24px !important;
}

/* line 366, ../sass/style.css.scss */
.double-padding {
  padding: 48px !important;
}

/* line 369, ../sass/style.css.scss */
.padding-top {
  padding-top: 24px !important;
}

/* line 372, ../sass/style.css.scss */
.padding-right {
  padding-right: 24px !important;
}

/* line 375, ../sass/style.css.scss */
.padding-bottom {
  padding-bottom: 24px !important;
}

/* line 378, ../sass/style.css.scss */
.padding-left {
  padding-left: 24px !important;
}

/* line 381, ../sass/style.css.scss */
.double-padding-top {
  padding-top: 48px !important;
}

/* line 384, ../sass/style.css.scss */
.double-padding-right {
  padding-right: 48px !important;
}

/* line 387, ../sass/style.css.scss */
.double-padding-bottom {
  padding-bottom: 48px !important;
}

/* line 390, ../sass/style.css.scss */
.double-padding-left {
  padding-left: 48px !important;
}

/* line 393, ../sass/style.css.scss */
.no-padding {
  padding: 0px !important;
}

/* line 396, ../sass/style.css.scss */
.no-padding-top {
  padding-top: 0px !important;
}

/* line 399, ../sass/style.css.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 402, ../sass/style.css.scss */
.no-padding-bottom {
  padding-bottom: 0px !important;
}

/* line 405, ../sass/style.css.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 408, ../sass/style.css.scss */
.half-padding {
  padding: 12px !important;
}

/* line 411, ../sass/style.css.scss */
.half-padding-top {
  padding-top: 12px !important;
}

/* line 414, ../sass/style.css.scss */
.half-padding-right {
  padding-right: 12px !important;
}

/* line 417, ../sass/style.css.scss */
.half-padding-bottom {
  padding-bottom: 12px !important;
}

/* line 420, ../sass/style.css.scss */
.half-padding-left {
  padding-left: 12px !important;
}

/* line 423, ../sass/style.css.scss */
.quarter-padding {
  padding: 6px !important;
}

/* line 426, ../sass/style.css.scss */
.quarter-padding-top {
  padding-top: 6px !important;
}

/* line 429, ../sass/style.css.scss */
.quarter-padding-right {
  padding-right: 6px !important;
}

/* line 432, ../sass/style.css.scss */
.quarter-padding-bottom {
  padding-bottom: 6px !important;
}

/* line 435, ../sass/style.css.scss */
.quarter-padding-left {
  padding-left: 6px !important;
}

/* line 441, ../sass/style.css.scss */
.no-border {
  border: none;
}

/* line 445, ../sass/style.css.scss */
.bordered {
  border: 1px solid #f2f2f2;
}

/* line 449, ../sass/style.css.scss */
.border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

/* line 456, ../sass/style.css.scss */
.btn {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 459, ../sass/style.css.scss */
.btn.btn-primary {
  background-color: #2592c8;
  color: white !important;
  border: none;
}
/* line 464, ../sass/style.css.scss */
.btn:hover {
  background-color: #50a7d3 !important;
}

/* line 471, ../sass/style.css.scss */
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 476, ../sass/style.css.scss */
.navbar ul.nav li.current_page_item a {
  color: #ee7739 !important;
}
/* line 482, ../sass/style.css.scss */
.navbar a {
  color: #2a2929 !important;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 485, ../sass/style.css.scss */
.navbar a:hover {
  color: dimgrey !important;
}
/* line 488, ../sass/style.css.scss */
.navbar a.logo {
  width: 95px;
  height: 42px;
  margin-left: 24px;
  background: url(../images/logo.png) no-repeat;
}

/* line 499, ../sass/style.css.scss */
section {
  padding: 48px 0;
}
/* line 501, ../sass/style.css.scss */
section.home-icons {
  background-color: #f2f2f2;
  padding-top: 120px;
  margin-top: -120px;
}
/* line 507, ../sass/style.css.scss */
section .home-icon img {
  width: 37px;
  height: auto;
}
/* line 515, ../sass/style.css.scss */
section.people .person .person-avatar img {
  width: 100px;
  height: auto;
}

/* line 526, ../sass/style.css.scss */
.phone-slider {
  background: url(../images/iphone.png) no-repeat right;
  height: 541px;
  margin-right: 24px;
}

/* line 532, ../sass/style.css.scss */
.trees {
  margin-left: -33px;
  z-index: -1;
  margin-top: 17px;
  display: inline-block;
}

/* line 539, ../sass/style.css.scss */
.home-icon {
  padding: 24px 48px;
}

/* line 545, ../sass/style.css.scss */
footer {
  border-top: #bbb 1px solid;
  display: inline-block;
  width: 100%;
}

/* line 551, ../sass/style.css.scss */
ul.footer-social {
  text-align: right;
}
/* line 553, ../sass/style.css.scss */
ul.footer-social li {
  font-size: 3em;
  padding-left: 0px !important;
}
/* line 556, ../sass/style.css.scss */
ul.footer-social li a {
  color: #777777;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 559, ../sass/style.css.scss */
ul.footer-social li a:hover {
  color: #171717 !important;
}

/* line 570, ../sass/style.css.scss */
.user-info table, .user-info tr, .user-info td, .user-info th {
  border: none !important;
}
/* line 573, ../sass/style.css.scss */
.user-info th {
  display: none;
}
/* line 576, ../sass/style.css.scss */
.user-info .pdb-submit {
  margin-top: -103px;
}

/* line 582, ../sass/style.css.scss */
.multicheckbox input {
  margin-right: 5px;
}

/* line 590, ../sass/style.css.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 598, ../sass/style.css.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 599, ../sass/style.css.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 604, ../sass/style.css.scss */
#slider-in-laptop {
  margin-bottom: -361px;
  bottom: 461px;
  margin-left: 23px;
}

/* line 610, ../sass/style.css.scss */
.laptopBg {
  float: right;
  display: block;
}

/* line 616, ../sass/style.css.scss */
.rsBullets {
  bottom: -128px !important;
}

@media (max-width: 1000px) {
  /* line 622, ../sass/style.css.scss */
  .laptopBg {
    float: none;
    position: relative;
    top: 50px;
    right: 40px;
  }

  /* line 632, ../sass/style.css.scss */
  #slider-in-laptop {
    margin-bottom: -301px;
    bottom: 461px;
    margin-left: 23px;
  }
}
@media (max-width: 800px) {
  /* line 642, ../sass/style.css.scss */
  .laptopBg {
    display: none;
  }

  /* line 645, ../sass/style.css.scss */
  .pdb-submit {
    margin-top: 0 !important;
    float: left !important;
  }
}
